*CoancestrySummary.txt
*InbreedingSummary.txt
*SelCriterionSummary.txt
*GenericIndCritSummary.txt
*GenericMatCritSummary.txt
*PAGESummary.txt
*SeedUsed.txt
*OptimisationLogMode*.txt
*ContributorsMode*.txt
*MatingPlanMode*.txt
*Targets.txt
*Frontier.txt
