[submodule "alphahouse"]
	path = alphahouse
	url = https://github.com/AlphaGenes/alphahouse.git
[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = https://github.com/AlphaGenes/alphacmakefiles.git
[submodule "alpharelate"]
	path = alpharelate
	url = https://github.com/AlphaGenes/alpharelate.git
